@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font: 12pt 'Nanum Gothic', sans-serif;
}

h2,
h3,
h4 {
  font-family: 'Nanum Myeongjo', serif;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: black;
}

/*상단*/
header {
  padding-top: 30px;
}

header>h1 button {
  display: none;
}

header>h1 a {
  display: block;
  max-width: 273px;
  margin: auto;
}

/*상단메뉴*/
header>nav {
  border-top: 1px solid #ddd;
  margin-top: 50px;
}

header ul {
  max-width: 1000px;
  margin: auto;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

header li {
  position: relative;
  /*flex: 1;*/
}

/*주메뉴*/
header li>a {
  padding: 15px;
  display: block;
}

header li:hover>a {
  font-weight: 700;
}

/*하위메뉴*/
header li nav {
  position: absolute;
  background: white;
  width: 100%;
  display: none;
}

header li nav a {
  display: block;
  padding: 20px;
  font-size: 0.8rem;
}

header li nav a:hover {
  background: #eee;
}

/*하위메뉴 넓이 확보*/
header li:nth-child(1) nav {
  width: 120%;
}

header li:nth-child(2) nav {
  width: 250%;
}

header li:nth-child(4) nav {
  width: 200%;
}

/*상단 아래 큰 비주얼 이미지 배너*/
#banner h2 {
  display: none;
}

#banner img {
  width: 100%;
}

/*대표 일품 요리*/
#sec02 {
  margin-top: 100px;
}

.h2 {
  text-align: center;
  font-size: 27pt;
  font-weight: 400;
}

.h2 rt {
  text-align: center;
  color: #cfa972;
  font-size: 1rem;
  font-weight: 700;
  transform: translateY(-15px);
}

.line {
  width: 1px;
  height: 100px;
  margin: auto;
  margin-top: 30px;
  border: none;
}

#sec02_list {
  max-width: 1250px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#sec02_list section {
  margin-bottom: 10px;
  position: relative;
  width: 304px;
  height: 304px;
  overflow: hidden;
  cursor: pointer;
}


#sec02_list section div {
  position: absolute;
  width: 100%;
  top: 33%;
  text-align: center;
  opacity: 0;
  transition: 0.5s;
  transform: scale(0.2);
}

#sec02_list h3 {
  color: white;
  font-size: 1.5rem;
}

#sec02_list rt {
  transform: translateY(50px);
}

#sec02_list p {
  margin-top: 40px;
  color: #e0e0e0;
}

#sec02_list section:hover div {
  opacity: 1;
  transform: scale(1);
}

#sec02_list section img {
  transition: 0.5s;
}

#sec02_list section:hover img {
  filter: brightness(50%);
  transform: scale(1.2);
}

/*a 링크 버튼 디자인 통합관리*/
.linkBtn {
  display: block;
  width: 170px;
  padding: 15px 0px;
  text-align: center;
  border: 1px solid #aaa;
  margin: auto;
  margin-top: 50px;
  transition: 0.5s;
}

.linkBtn:hover {
  background: black;
  color: white;
}

#sec03 {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 100px 0;
}
#sec03 section {
  width: 33%;
  text-align: center;
  margin-bottom: 50px;
}
#sec03 img {
  transition: 0.5s;
  width: 100%;
}

#sec03 a { 
  display: block;
  overflow: hidden;
}

#sec03 a:hover img {
  filter: brightness(50%);
  transform: scale(1.3);
}